.modal-wrapper{
    background-color: map-get($colors, secondary);
    //position: absolute;
    display: block;
    //width: 100%;
}

.buttons{
    margin-top: 5px;
    //background-color: map-get($colors, secondary);
}

@media (max-width: 765px) {
  .modal-wrapper {
    height: 100%;
  }
 }
