<ion-header>
  <ion-navbar color="primary">
    <h2 id="title"> Join a Course </h2>
  </ion-navbar>
</ion-header>

<ion-content class="background">
    <ion-grid>
      <ion-row>
        <h1>Search Criteria</h1>
      </ion-row>
      <!-- <ion-row>
        <div class="dropdown">
          <button ion-button icon-right class="dropdown-button">
            Choose Search Filter
            <ion-icon name="ios-arrow-down"></ion-icon>
          </button>
          <div class="dropdown-content">
            <button ion-button (click)="chooseFilter('title')">Course Name</button>
            <button ion-button (click)="chooseFilter('courseID')">Course ID</button>
            <button ion-button (click)="chooseFilter('professor')">Professor</button>
            <button ion-button (click)="chooseFilter('university')">University</button>
          </div>
        </div>
        <ion-item>
          <ion-input placeholder="Searching courses by: {{filterType}}" [(ngModel)]="searchbarInput" (change)="applyFilters(searchbarInput)" type="text"></ion-input>
        </ion-item>
      </ion-row> -->
      <ion-row>
        <ion-col>
            <ion-input id="filterInput" placeholder="Course Title" type="text"></ion-input>
        </ion-col>
        <ion-col>
            <ion-input id="filterInput" placeholder="Course ID" type="text"></ion-input>
        </ion-col>
        <ion-col>
            <ion-input id="filterInput" placeholder="Professor" type="text"></ion-input>
        </ion-col>
        <ion-col>
            <ion-input id="filterInput" placeholder="University" type="text"></ion-input>
        </ion-col>
      </ion-row>
      <!-- Course list -->
      <ion-row>
        <h1>Course List</h1>
        <ion-scroll style="width:100%;height:65vh" scrollY="true">
          <ion-list scroll="true">
            <ion-card *ngFor="let course of courses">
              <ion-card-header>{{ course.title }}</ion-card-header>
              <ion-card-content>
                  <ion-row>
                      <ion-col>
                          <!-- Course Information -->
                        <ion-row *ngIf="course.courseID != null && course.courseID.trim() != ''">
                          Course ID: {{ course.courseID }}
                        </ion-row>
                        <ion-row *ngIf="course.courseID != null && course.courseID.trim() == ''">
                          Course ID: N/A
                        </ion-row>

                        <ion-row *ngIf="course.professor != null && course.professor.trim() != ''">
                          Professor: {{ course.professor }}
                        </ion-row>
                        <ion-row *ngIf="course.professor != null && course.professor.trim() == ''">
                          Professor: N/A
                        </ion-row>

                        <ion-row *ngIf="course.university != null && course.university.trim() != ''">
                          University: {{ course.university }}
                        </ion-row>
                        <ion-row *ngIf="course.university != null && course.university.trim() == ''">
                          University: N/A
                        </ion-row>

                        <ion-row *ngIf="course.description != null && course.description.trim() != ''">
                          Description: {{ course.description }}
                        </ion-row>
                        <ion-row *ngIf="course.description != null && course.description.trim() == ''">
                          Description: N/A
                        </ion-row>
                        <!-- End of Course Information -->
                    </ion-col>

                    <!-- Buttons -->
                    <ion-col>
                        <ion-row>
                            <ion-col align='right'>
                                <button ion-button round color="light">Check Notes</button>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col align='right'>
                                <button ion-button round color="light">Save Course</button>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col align='right'>
                                <button ion-button round color="light" (click)="joinCourse(course.$key, course.owner)">Join Course</button>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-list>
        </ion-scroll>
      </ion-row>

    </ion-grid>
</ion-content>
