<ion-header>
  <ion-navbar color="primary">
    <ion-row>
      <ion-col col-xs-10>
        <h2 id="title">Possible Changes</h2>
      </ion-col>
      <ion-col align="right" col-xs-2>
        <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
<ion-content padding class="background">
  <ion-card *ngFor="let change of changes">
    <ion-row>
      <ion-col>
        <div *ngIf="change.originalSentence != 'N/A'">
          <p id="changeLog"><b>Would you like to replace: </b> {{ change.originalSentence }}</p>
          <p id="changeLog"><b>With the following sentence: </b> {{ change.proposedSentence }}</p>
        </div>
        <p id="changeLog" *ngIf="change.originalSentence == 'N/A'"><b>Would you like to insert the following sentence: </b> {{ change.proposedSentence }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align="right">
        <button id="disapproveBtn"ion-button icon-only><ion-icon name="thumbs-down"></ion-icon></button>
      </ion-col>
      <ion-col>
        <button id="approveBtn" ion-button icon-only><ion-icon name="thumbs-up"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
