page-home {

  .title {
    font-family: "Blacksword";
    font-size: 15vw;
    align-self: center;
    word-wrap: normal;
    color: map-get($colors, primary);
  }

  .slide {
    font-family: "Blacksword";
    font-size: 5vw;
    align-self: center;
    word-wrap: normal;
    color: map-get($colors, primary);
  }

  .box {
    align-self: center;
    align-content: center;
    vertical-align: center;
    word-wrap: normal;
    margin: 15%;
  }

  .pane {
    //Just add the background image to be used after '/images/'
      background: url("../assets/images/") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
    }

}
