page-home {

  .title {
    font-family: "Blacksword";
    font-size: 200px;
    align-self: center;
    color: map-get($colors, light);
  }

  .box {
    vertical-align: center;
    word-wrap: normal;
    margin: 15%;
  }

  .pane {
      background: url("../assets/images/home_background_image.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
    }

}
