<ion-header id="homePageHeader">
  <ion-row>
    <button id="signInButton" ion-button (click)="signIn()" color="danger"> Sign In </button>
    <button id="registerButton" ion-button (click)="register()" color="danger"> Register </button>
    <h1 id="headerTitle">Scribble Platform</h1>
  </ion-row>
</ion-header>

<ion-content id="ionContent" wrap>
  <!-- Decorative Blocks -->
  <div id="block1"></div>

  <!-- Icons and Page Content -->
  <div id="scroller">
    <div id="item1">
      <ion-icon id="DocumentIcon" name="ios-document-outline"></ion-icon>
      <h1 id="iconText">Type all your notes</h1>
    </div>

    <div id="item2">
      <ion-icon id="CopyIcon" name="ios-copy-outline"></ion-icon>
      <ion-icon id="PeopleIcon" name="ios-people-outline"></ion-icon>
      <h1 id="iconText">Automatically merge notes with peers</h1>
    </div>

    <div id="item3">
      <ion-icon id="CloudIcon" name="ios-cloud-outline"></ion-icon>
      <h1 id="iconText">Store your notes on the cloud</h1>
    </div>

    <div id="item4">
      <ion-icon id="DocumentIcon2" name="ios-document-outline"></ion-icon>
      <ion-icon id="SearchIcon" name="ios-search-outline"></ion-icon>
      <h1 id="iconText">Easily sort through notes</h1>
    </div>

    <div id="item5">
      <ion-icon id="FolderIcon" name="ios-folder-open-outline"></ion-icon>
      <h1 id="iconText">Keep things organized</h1>
    </div>

    <div id="item6">
      <ion-icon id="FlashcardIcon" name="ios-albums-outline"></ion-icon>
      <h1 id="iconText">Automatically create flash cards to study</h1>
    </div>
  </div>

  <div class="center" id="content">
    <h1 id="mergeTitle">{{erasedTitle}}</h1>
  </div>

  <div class="center">
    <ion-fab id="fab" center>
      <button ion-fab id="buttonFAB" (click)="mergeDocuments()" >Merge</button>
    </ion-fab>
  </div>

  <div class="center">
    <div id="card1Div">
      <h2 id="doc1Title">Your Notes</h2>
      <ion-card id="card1">
        <ion-card-content>
          <ion-textarea id="textArea" placeholder="Type some sample text here." websize [(ngModel)]="document1" [value]="document1"></ion-textarea>
        </ion-card-content>
      </ion-card>
    </div>

    <div id="card2Div">
      <h2 id="doc2Title">Your Friend's Notes</h2>
      <ion-card id="card2">
        <ion-card-content>
          <ion-textarea id="textArea" placeholder="Type some sample text here." websize [(ngModel)]="document2" [value]="document2"></ion-textarea>
        </ion-card-content>
      </ion-card>
    </div>

    <div id="changeLogDiv">
      <ion-card id="changeLogCard">
        <ion-card-content>
            <button id="confirmButton" ion-button full (click)="confirmVotes()"> Confirm </button>
            <!-- Change Log -->
            <ion-card id="changeCard" *ngFor="let change of changeLog">
              <ion-row>
                <ion-col col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1>
                  <div>
                    <button id="disapproveBtn"ion-button icon-only (click)="downVote(change)"><ion-icon name="thumbs-down"></ion-icon></button>
                  </div>
                  <div>
                    <button id="approveBtn" ion-button icon-only (click)="upVote(change)"><ion-icon name="thumbs-up"></ion-icon></button>
                  </div>
                </ion-col>
                <ion-col col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xl-11>
                  <div *ngIf="change.originalSentence != 'None'">
                    <p id="changeLog"><b>Would you like to replace: </b> {{ change.originalSentence }}</p>
                    <p id="changeLog"><b>With the following sentence: </b> {{ change.proposedSentence }}</p>
                  </div>
                  <p id="changeLog" *ngIf="change.originalSentence == 'None'"><b>Would you like to insert the following sentence: </b> {{ change.proposedSentence }}</p>
                </ion-col>
              </ion-row>
            </ion-card>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>
