page-home {

  #homePageTitle {
    color: black;
    font-size: 23vw;
    font-family: ToThePoint;
    margin-left: 5vw;
    margin-top: 20vh;
  }

  #buttons {
    float: right;
    margin-right: 1vw;
    background-color: map-get($colors, danger);
  }

  .initialContent {
    height: 90vh;
  }

  .background {
    background-color: white;
    background-image: url('../../../assets/images/paperlines.png');
  }

  .header {
    margin-bottom: 0px;
    height: 8vh;
    padding: .5vh;
    background-color: map-get($colors, primary);
  }
}
